@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cabin";
  font-style: normal;
  font-weight: 400;
  src: url("./Fonts/Cabin/static/Cabin/Cabin-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Cabin";
  font-style: medium;
  font-weight: 500;
  src: url("./Fonts/Cabin/static/Cabin/Cabin-Medium.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Cabin";
  font-style: sami-bold;
  font-weight: 600;
  src: url("./Fonts/Cabin/static/Cabin/Cabin-SemiBold.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Cabin";
  font-style: bold;
  font-weight: 700;
  src: url("./Fonts/Cabin/static/Cabin/Cabin-Bold.ttf");
  font-display: swap;
}

body {
  background-attachment: fixed;
  background-image: url("./Images/background.jpg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  background-size: cover;
  font-family: "Cabin", sans-serif;
}

@media all and (min-width: 768px) {
  body {
    background-image: url("./Images/background_md.jpg");
  }
}

@media all and (min-width: 1024px) {
  body {
    background-image: url("./Images/background_xl.jpg");
  }
}
